/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
html{
}
html, body{
  font-family: 'Lato', sans-serif;
  height: 100%; width: 100%;
  margin: 0px; padding: 0px;
  background-color: #f2f2f2;
}

.button, #title p{
  font-size: 11px; letter-spacing: 0.9px; text-align: center;
}
.icons{
  width: 100%; height: 100;
}
.button{
  width: 100%; height: 20%;
  color: white;
  cursor: pointer;
}
.button img{
  padding: 20px 0px 0px 0px;
}
.active{
  background-color: #d9d9d9;
  width: 100%; height: 20%;
  color: #000000;
  padding-bottom: 5px;
}
.btn{
  background-color: #66a3ff;
  border: none;
  color: white;
  margin-top: 35px;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: #0066ff;
}
.principalFont{
  font-size: 70px;
}
.secondaryFont{
  font-size: 15px;
}


#blueHeader{
  background-color: #66a3ff;
  width: 100%; height: 80px;
}
#title, #mtmLogo{
  color: #000000;
  height: 85%;
  padding-top: 12px; padding-left: 25px;
  text-align: center; font-size: 30px; font-weight: bold;
  cursor: default;
  float: left;
}
#leftSideBar, #blankSpace{
  height: calc(100% - 80px);
}
#leftSideBar{
  float: left; background-color: #404040; width: 100px;
}
#blankSpace{
  width: calc(100% - 100px); float: right;
  font-size: 12px;
  text-align: center;
}
#mainFrameButtons{
  height: 18%;
}
#mainFrame{
  margin: 35px auto 0 auto;
  width: 94%; height: calc(100% - 70px);
  background-color: #ffffff;
}
#hour{
  text-align: center;
  height: 33%;
  padding-top: 8%;
}
#date{
  font-size: 20px;
}
#backBtn{
  margin: 10px;
  display: none;
}
#timerFrame{
  text-align: center;
  height: 33%;
  padding-top: 8%;
  display: none;
}
#timer{
  display: none;
}
#description{
  display: block;
}
#startBtn{
  background-color: #00ff55;
}
#startBtn:hover{
  background-color: #009933;
}
#pauseBtn:hover{

}
#restartBtn{
  background-color: #ff3300;
}
#restartBtn:hover{
  background-color: #801a00;
}
