 @import url('https://fonts.googleapis.com/css?family=Varela+Round');
 html, body{
  font-family: 'Varela Round', sans-serif;
  height: 100%; width: 100%;
  margin: 0px; padding: 0px;
  background-color: #f2f2f2;
  min-width: 300px;
}
.button{
  font-size: 11px; letter-spacing: 0.9px; text-align: center;
}
.icons{
  width: 100%; height: 100;
}
.button{
  width: 100%; height: 25%;
  color: white;
  cursor: pointer;
}
.button img{
  padding: 20px 0px 0px 0px;
}
.active{
  background-color: #d9d9d9;
  width: 100%; height: 25%;
  color: #000000;
  padding-bottom: 5px;
}
.btn{
  background-color: #66a3ff;
  border: none;
  color: white;
  margin-top: 35px;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
}
.btn:hover {
  background-color: #0066ff;
}
.principalFont{
  font-size: 70px;
}
.secondaryFont{
  font-size: 15px;
}


#orangeHeader{
  background-color: #e68a00;
  width: 100%; height: 80px;
}
#title, #ACWOLogo{
  color: #000000;
  height: 85%;
  padding-top: 12px; padding-left: 25px;
  text-align: center; font-size: 30px; font-weight: bold;
  cursor: default;
  float: left;
}
#ACWOLogo img{
  height: 80px;
  margin-top: -13px;
}
#leftSideBar, #blankSpace{
  height: calc(100% - 80px);
}
#leftSideBar{
  float: left; background-color: #404040; color: #e68a00; width: 100px;
}
#blankSpace{
  width: calc(100% - 100px); float: right;
  font-size: 12px;
  text-align: center;
}
#mainFrameButtons{
  height: 18%;
}
#mainFrame{
  margin: 35px auto 0 auto;
  width: 94%; height: calc(100% - 70px);
  background-color: #ffffff;
  color: #e68a00;
}
#hour{
  text-align: center;
  height: 33%;
  padding-top: 8%;
}
#date{
  font-size: 20px;
}
#backBtn{
  margin: 10px;
  display: none;
}
#timerFrame{
  text-align: center;
  height: 33%;
  padding-top: 8%;
  display: none;
}
#timer{
  display: none;
}
#description{
  display: block;
}
#startBtn{
  background-color: #00ff55;
  text-align: center;
}
#startBtn:hover{
  background-color: #009933;
}
#pauseBtn:hover{

}
#restartBtn{
  background-color: #ff3300;
}
#restartBtn:hover{
  background-color: #801a00;
}
@media only screen and (max-width: 500px) {
  body {
  }
  #leftSideBar{
    height: 120px; width: 100%;
    float: none;
    text-align: center;
  }
  #img0, #img2{
    height: 0px;
  }
  .button img{
    padding: 0px;
  }
  .active{
    padding-bottom: 5px;
  }
  #btn0, #btn2{
    font-size: 15px;
    height: 60px;
  }
  #mainFrame{
    float: none;
  }
  #blankSpace{
    height: calc(100% - 200px);
    width: 98%;
  }
}
@media only screen and (max-width: 400px) {
  .btn{
    margin-top: 5px;
  }
  #restartBtn{
    margin-top: 5px;
  }
}
